body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: bisque;
}

h1 {
  font-weight: bold;
  margin: 20px;
}

.link {
  padding: 10px;
  color: brown;
}
img {
  width: 700px;
  height: auto;
  text-align: center;
}
